.catalog {
  width: 100%;
  height: 100vh;
  min-width: 420px;
  max-width: 1120px;
  margin: 0 auto;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-family: Exo;
  color: #ffffff;
  text-align: center;
}

.catalog__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  width: 100%;
  max-width: 320px;
  max-height: 480px;
  background-color: #f2f2f2;
}

.catalog__link {
  color: #666666;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .catalog__list {
    max-width: 720px;
    justify-content: center;
  }

  .catalog__item:first-child {
    margin-right: 6.25%;
  }
}

@media (max-width: 720px) {
  .catalog__list {
    min-width: 420px;
    max-width: 719px;
    display: block;
  }

  .catalog__item:first-child {
    margin: 0 auto;
  }
}
