@import 'normalize.css';
@import 'fonts.css';
@import 'global.css';

.inner-page {
  position: relative;
  height: auto;
}

.inner-page::before {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.5) 100%);
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-family: Exo;
  color: #ffffff;
}
